<h2>Ai properties</h2>
<ul class="ai-details__properties">
	<li>
		<label>Serial Nr.</label>
		<span>{{ai.serialNr}}</span>
	</li>
	<li>
		<label>Gender</label>
		<span>{{ai.gender}}</span>
	</li>
	<li>
		<label>Shape</label>
		<span>{{ai.properties.shape}}</span>
	</li>
	<li>
		<label>Intelligence</label>
		<span>{{ai.properties.intelligence}}</span>
	</li>
	<li>
		<label>Environment</label>
		<span>{{ai.properties.environment}}</span>
	</li>
		<label>Brand</label>
		<span>{{ai.brandName}}</span>
	</li>
	<li>
		<label>Abilities</label>
		{{#each abilities}}
			<span>{{this}}</span>
		{{/each}}
	</li>
	<li>
		<label>Construction date</label>
		<span>{{ai.constructionDate}}</span>
	</li>
</ul>