{{> _orbit}}

<section class="ai-details">
	<h2>Ai properties</h2>
	<ul class="ai-details__properties">
		<li>
			<label>Instance name</label>
			<span>{{ai.instanceName}}</span>
		</li>
		<li>
			<label>Gender</label>
			<span>{{ai.gender}}</span>
		</li>
		<li>
			<label>Shape</label>
			<span>{{ai.properties.shape}}</span>
		</li>
		<li>
			<label>Intelligence</label>
			<span>{{ai.properties.intelligence}}</span>
		</li>
		<li>
			<label>Environment</label>
			<span>{{ai.properties.environment}}</span>
		</li>
			<label>Intelligence</label>
			<span>{{ai.brandName}}</span>
		</li>
			<li>
			<label>Construction date</label>
			<span>{{ai.constructionDate}}</span>
		</li>
	</ul>

	<button class="btn--primary">Connect to {{ai.serialNr}}</button>
</section>