<h1 class="sync-header">Update my AI's properties</h1>

<form class="form-sync" method="POST" action="/ai/update">
	<fieldset>
		<legend>Ai Properties</legend>

		<label for="sync-shape">Shape</label>
		<input id="sync-shape" name="shape" type="text" value="{{ai.properties.shape}}">

		<label for="sync-gender">Gender</label>
		<input id="sync-gender" name="gender" type="text" value="{{ai.gender}}">

		<label for="sync-environment">Environment</label>
		<input id="sync-environment" name="environment" type="text" value="{{ai.properties.environment}}">

		<label for="sync-abilities">Abilities</label>
		<input id="sync-abilities" name="abilities" type="text" value="{{ai.properties.abilities}}">

		<label for="sync-intelligence">Intelligence</label>
		<input id="sync-intelligence" type="number" name="intelligence" min="0" max="10000" value="{{ai.properties.intelligence}}">
	</fieldset>

	<input class="btn--primary" type="submit" value="Update Properties">
</form>
